.about_wrap {
  padding: 90px 20px 0;
  padding-bottom: 100px;
  background-image: url("../assets/about-bg.jpg");
}
.about_wrap h3 {
  text-align: center;
  font-family: Museo, serif;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 80px;
}

.about_content {
  display: flex;
  gap: 64px;
  max-width: 1005px;
  margin: 0 auto;
}

.about_img_wrap {
  width: 40%;
  max-width: 342px;
  display: flex;
}

.about_content img {
  width: 100%;
  min-width: 200px;
  align-self: center;
}

.about_text {
  width: 100%;
}

.about_content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  max-width: 558px;
}

.mobile {
  display: none;
}

@media (max-width: 700px) {
  .about_wrap {
    padding-top: 30px;
  }
  .about_content {
    flex-direction: column;
    align-items: center;
  }

  .about_img_wrap {
    margin: 0 auto;
    max-width: 340px;
    margin-bottom: 50px;
  }

  .about_img_wrap img {
    width: 100%;
  }

  .about_content p {
    max-width: 100%;
    padding: 0 20px;
  }

  .mobile {
    display: block;
    width: 100%;
  }

  .desktop {
    display: none;
  }
}
