.contacts_wrap {
  background-image: url("../assets/services-bg.jpg");
  padding-top: 90px;
  padding-bottom: 100px;
}

.contacts_wrap h3 {
  text-align: center;
  font-family: Museo, serif;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 80px;
}

.contacts_content {
  display: flex;
  gap: 104px;
  max-width: 820px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.contacts_info {
  display: flex;
  gap: 21px;
  margin-bottom: 33px;
}

.contacts_info p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.contacts_content form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.contacts_content label input,
.contacts_content label textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #695032;
  border-radius: 6px;
  background-color: transparent;
  color: #695032;
  padding: 10px 10px;
}

.contacts_content label {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
}

.contacts_content label input {
  height: 40px;
}
.contacts_content label textarea {
  height: 145px;
}

textarea:focus,
input:focus,
select:focus {
  outline: 0;
  border: none;
}

.contacts_content label input:focus,
.contacts_content label textarea:focus {
  box-shadow: 0 0 2px 2px #ca832fab;
  background-color: #fff;
}

.contacts_content input[type="submit"] {
  width: fit-content;
  padding: 18px 80px;
  background-color: #fffbf6;
  border: 1px solid #695032;
  border-radius: 6px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #695032;
  margin: 0 auto;
  cursor: pointer;
}

.contacts_content input[type="submit"]:hover {
  background-color: #695032;
  color: #fffbf6;
}

.incomplete {
  color: red;
}

@media (max-width: 889px) {
  .contacts_content {
    flex-direction: column-reverse;
  }

  form {
    width: 90% !important;
    max-width: 430px !important;
  }
}
