footer {
  padding: 60px 15px 35px;
  background-image: url("../assets/footer-bg.jpg");
}

.footer_content {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px 60px;
}

.footer_content a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "open sans", sans-serif;
  font-size: 12px;
  color: #695032;
}

.footer_left,
.footer_right {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 15px;
}

.footer_center img {
  max-width: 100px;
}

.footer_legaltext {
  text-transform: uppercase;
  font-family: "open sans", sans-serif;
  font-size: 11px;
  color: #695032;
  letter-spacing: 1px;
  text-align: center;
}

.footer_legaltext a {
  text-decoration: none;
  color: #695032;
}

.footer_legaltext a:visited {
  color: #695032;
}

.mobile {
  display: none !important;
}

@media (max-width: 560px) {
  footer {
    padding: 20px 15px 35px;
  }

  .footer_content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }

  .footer_center img {
    width: 67px;
  }

  .footer_left a {
    font-size: 12px;
  }

  .footer_legaltext {
    font-size: 10px;
  }

  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }
}
