.container {
  width: 100vw;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.background > video {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 726px;
}

.gradient_bg {
  width: 100vw;
  height: 363px;
  background: linear-gradient(#fff3ecbe 0%, #fcf4eeab 25%, #ffffff00 100%);
  position: absolute;
  z-index: -1;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

nav span img:first-of-type {
  width: 81px;
}

.content ul {
  display: flex;
  justify-content: end;
  gap: 28px;
  width: 90%;
}

.content li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  text-transform: uppercase;
  cursor: pointer;
}

.content select,
.content li {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: #695032;
}

.content select {
  font-size: 9pt;
  background-color: transparent;
  border: none;
}

.language {
  display: flex;
  gap: 4px;
}

.title_wrap {
  width: 534px;
  height: 134px;
  position: absolute;
  top: 241px;
  left: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_bg {
  width: 100%;
  height: 100%;
  background-color: #ffefe4;
  filter: blur(50px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.title_wrap h1,
.title_wrap h2 {
  font-family: Museo;
  color: #695032;
  font-weight: 100;
}

.title_wrap h1 {
  font-size: 27px;
}

.title_wrap h2 {
  font-size: 20px;
}
