.phrase_wrap {
  position: relative;
  padding-top: 475px;
  height: 213px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.phrase_wrap img {
  position: absolute;
  width: 100%;
  min-height: 213px;
  z-index: 2;
}

.phrase_wrap p {
  font-family: Museo, serif;
  font-size: 24px;
  text-align: center;
  padding: 110px 20px 50px;
  z-index: 3;
}

@media (max-width: 889px) {
  .phrase_wrap p {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .phrase_wrap p {
    padding-top: 100px;
  }
}

@media (max-width: 348px) {
  .phrase_wrap p {
    padding-top: 80px;
  }
}
